<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List Item</title>
</head>
<body>
    <!-- {{item}} -->
    {% for i in item %}
    <img src="{{i.image.url}}" alt="" width="200px" height="200px">
        {{i.name}}
        {{i.price}}
        {{i.in_stock}}
        <button ><a href={% url 'edit_item' i.pk %}>Edit</a></button>
        <button ><a href={% url 'sell_item' i.pk %}>Sell</a></button>
        <br>
    {% endfor %}
</body>
</html>