<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sell Item</title>
</head>
<body>
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
       ชื่อ {{item.name}} <br>
       ขาย <input type="number" name="amount" id="amount" max="{{item.in_stock}}"> <br>
       <button type="submit">ขาย</button>        
    </form>
</body>
</html>